header {
    color: #313944;
    font-family: roboto;
    padding-left: 550px;
    padding-right: 500px;
    padding-top: 2px;
}

body {
    background-color: gainsboro;
}

div {
    background-color: white;
}

#logo {
    margin-left: 120px;
    height: 200px;
}
main {
    margin-left: 150px;
    font-size: px;
}

hr{
    margin-right: 150px;
}

strong1{
    font-size: 30px
}

input {
    margin-left: 150px;
}

#name {
    margin-right: 55px;
}

#tel {
    width: 87px;
}

#button2 {
    margin-left: 250px;
}

#logo2 {
    margin-left: 370px;
    height: 50px;
}
